<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.laboratory.mapper.LabAssetRecordMapper">

    <resultMap type="LabAssetRecord" id="LabAssetRecordResult">
        <result property="recordId" column="record_id" />
        <result property="assetId" column="asset_id" />
        <result property="recordType" column="record_type" />
        <result property="fromValue" column="from_value" />
        <result property="toValue" column="to_value" />
        <result property="operatorName" column="operator_name" />
        <result property="recordContent" column="record_content" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <select id="selectLabAssetRecordList" parameterType="Long" resultMap="LabAssetRecordResult">
        select record_id, asset_id, record_type, from_value, to_value, operator_name,
               record_content, create_by, create_time, remark
        from lab_asset_record
        where asset_id = #{assetId}
        order by record_id asc
    </select>

    <insert id="insertLabAssetRecord" parameterType="LabAssetRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into lab_asset_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assetId != null">asset_id,</if>
            <if test="recordType != null and recordType != ''">record_type,</if>
            <if test="fromValue != null">from_value,</if>
            <if test="toValue != null">to_value,</if>
            <if test="operatorName != null and operatorName != ''">operator_name,</if>
            <if test="recordContent != null">record_content,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time,
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assetId != null">#{assetId},</if>
            <if test="recordType != null and recordType != ''">#{recordType},</if>
            <if test="fromValue != null">#{fromValue},</if>
            <if test="toValue != null">#{toValue},</if>
            <if test="operatorName != null and operatorName != ''">#{operatorName},</if>
            <if test="recordContent != null">#{recordContent},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate(),
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>
</mapper>
